body, html{
    height: 100%;
    /* The image used */
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX8326824.jpg");
    height: 100%;
    /* Center and scale the image*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: auto;
    padding-bottom: 20px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.384) !important;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar .navbar-brand {
    color: white ;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.myIntro {
    padding-top: 150px;
}
#text {
    font-size: 45px;
}

.button {
    border: 3px solid orangered;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    padding: 10px 25px;
    transition: all 0.5s;
    margin-left: 50%;
}

.button:hover {
    border-color: white;
    background-color: orangered;
    transform: translate(1px, -2px);
} 


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orangered
}

.aboutMe {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 80px;
    margin-right: 80px;
}

.info-list {
    color: white;
    font-size: 25px;
}


.links {
    color: white;
    text-decoration: underline;
}

.projectInfo {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.button {
    background-color: orangered;
    border-color: white;
}
.button:hover {
    transform: translate(1px, -2px);
    background-color: white;
    border-color: orangered;
}

.nav-link {
    color: white;
}
.nav-link:hover {
    color: orangered;
    
}


.fa-linkedin, .fa-github {
    font-size: 60px;
}


.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 45px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    text-align: center;
    
}
#footerTag {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
